.text-content-block {
    position: relative;
    background: #f9f9f9;
    color: #727272;
    overflow: hidden;
}
.text-content-block .block-inner {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    font-size: 1.8rem;
    padding: 24px;
}
@media handheld, only screen and (min-width: 600px) {
    .text-content-block .block-inner {
        font-size: 2rem;
    }
    .text-content-block .block-inner .rich-text {
        line-height: 1.6;
    }
}
.text-content-block .block-inner strong {
    color: black;
    font-weight: 300;
}
.text-content-block .bg-text {
    z-index: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 17rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 600;
    line-height: 1;
    opacity: 0.08;
}
.text-content-block .secondary-content {
    font-size: 1rem;
    margin-top: 3vw;
    text-align: center;
}
.text-content-block h2 {
    font-weight: 600;
    font-size: 2rem;
}
.text-content-block ul {
    line-height: 1.5;
    padding-left: 30px;
}
.text-content-block.reduced .block-inner {
    font-size: 1.3rem;
}
.text-content-block.reduced .block-inner .rich-text {
    line-height: 1.8;
}