/** @format */

.left-title-text-content-block {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100%;
    font-size: 1.4rem;
    padding: 24px;
}
@media handheld, only screen and (min-width: 1024px) {
    .left-title-text-content-block {
        font-size: 1.8rem;
        background-size: 50%;
    }
    .left-title-text-content-block.reduced {
        font-size: 1.3rem;
    }
}
@media handheld, only screen and (min-width: 1700px) {
    .left-title-text-content-block {
        background-size: 1000px;
    }
}
.left-title-text-content-block .block-content-wrapper {
    max-width: 1124px;
    margin: 0 auto;
}
@media handheld, only screen and (max-width: 600px) {
    .left-title-text-content-block .block-content-wrapper {
        background-color: rgba(255, 255, 255, 0.6);
    }
}
.left-title-text-content-block .title {
    margin-bottom: 24px;
}
@media handheld, only screen and (min-width: 600px) {
    .left-title-text-content-block .title {
        padding-right: 24px;
    }
}
@media handheld, only screen and (min-width: 1024px) {
    .left-title-text-content-block .title {
        padding-right: 48px;
    }
}
.left-title-text-content-block .title h2 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.1;
}
@media handheld, only screen and (min-width: 1024px) {
    .left-title-text-content-block .title h2 {
        font-size: 4.5rem;
    }
}
@media handheld, only screen and (max-width: 600px) {
    .left-title-text-content-block .title h2 {
        font-size: 4rem !important;
    }
}

.left-title-text-content-block.reduced .block-inner {
    font-size: 1.3rem;
}
